@import 'tailwindcss';
@plugin "daisyui" {
   themes: light --default;
 }

nav li a.active {
    color: green;
    text-decoration: underline;

}

nav li a {
    font-size: 20px;
    font-weight: 600;

}