@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@plugin "daisyui" {
  themes: light --default;
}
.categories a{
  @apply bg-base-100
}
.categories a.active{
  @apply bg-base-200
}
nav a.active {
  text-decoration: underline;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #D72050;
  --color-secondary: #403F3F;
  --color-base-200: #9F9F9F;
  --color-base-300: #403F3F;
  --color-accent: #706F6F;
}

* {
  font-family: "Poppins", sans-serif;

}